In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/DAT_MPM_FS.csv')

In [5]:
df.keys()

Index(['Region', 'Country Code', 'Economy', 'MPM_Year', 'Survey name',
       'Survey year', 'Survey coverage', 'Welfare type',
       'Survey comparability', 'Monetary (%)', 'Educational attainment (%)',
       'Educational enrollment (%)', 'Electricity (%)', 'Sanitation (%)',
       'Drinking water (%)', 'Multidimensional poverty headcount ratio (%)',
       'Country', 'Indicator Name', 'Indicator Code', 'FS_2015', 'FS_2016',
       'FS_2017', 'FS_2018', 'FS_2019', 'FS_2020', 'FS_2021', 'FS_2022',
       'FS_2023'],
      dtype='object')

In [6]:
df

,Region,Country Code,Economy,MPM_Year,Survey name,Survey year,Survey coverage,Welfare type,Survey comparability,Monetary (%),...,Indicator Code,FS_2015,FS_2016,FS_2017,FS_2018,FS_2019,FS_2020,FS_2021,FS_2022,FS_2023
0,SSA,AGO,Angola,2018.0,IDREA,2018.0,N,c,2.0,31.1,...,SN.ITK.MSFI.ZS,NaN,NaN,66.5,70.1,73.5,77.7,78.5,79.2,NaN
1,ECA,ALB,Albania,2018.0,HBS,2018.0,N,c,1.0,0.0,...,SN.ITK.MSFI.ZS,38.8,39.0,38.6,37.1,33.8,30.9,30.2,32.2,NaN
2,LAC,ARG,Argentina,2021.0,EPHC-S2,2021.0,U,i,3.0,0.9,...,SN.ITK.MSFI.ZS,19.2,25.9,32.3,35.8,35.8,37.0,36.9,36.1,NaN
3,ECA,ARM,Armenia,2021.0,ILCS,2021.0,N,c,1.0,0.5,...,SN.ITK.MSFI.ZS,NaN,NaN,17.1,14.8,11.7,8.3,8.0,7.8,NaN
4,EAP,AUS,Australia,2018.0,SIH-LIS,2018.0,N,I,3.0,0.5,...,SN.ITK.MSFI.ZS,10.8,11.8,12.7,13.3,12.3,11.9,11.4,12.9,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262,NaN,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SN.ITK.MSFI.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
263,NaN,WSM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SN.ITK.MSFI.ZS,NaN,NaN,23.6,23.6,23.6,23.6,23.6,23.6,NaN
264,NaN,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SN.ITK.MSFI.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
265,NaN,YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SN.ITK.MSFI.ZS,45.7,49.6,46.6,46.0,49.4,58.5,67.2,72.5,NaN
266,NaN,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,SN.ITK.MSFI.ZS,NaN,NaN,NaN,17.4,18.2,19.0,19.2,19.4,NaN

[2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

In [44]:
foo = df[['Country Code','Monetary (%)', 'Educational attainment (%)',
       'Educational enrollment (%)', 'Electricity (%)', 'Sanitation (%)',
       'Drinking water (%)', 'Multidimensional poverty headcount ratio (%)',]].copy()


bar = df[['Country Code','FS_2015', 'FS_2016',
       'FS_2017', 'FS_2018', 'FS_2019', 'FS_2020', 'FS_2021', 'FS_2022',
       'FS_2023']].copy()

foo[foo.isna()]=None

bar[bar.isna()]=None



def transpose_df_on_key_1(df, key, orient='index'):
    # Replace NaN with None to ensure compatibility with JSON
    df_cleaned = df.where(pd.notnull(df), None)
    result_dict = df_cleaned.set_index(key).to_dict(orient=orient)
    return result_dict

def transpose_df_on_key_2(df, key, orient='list'):
    # Replace NaN with None to ensure compatibility with JSON
    df_cleaned = df.where(pd.notnull(df), None)
    result_dict = df_cleaned.set_index(key).T.to_dict(orient=orient)
    return result_dict

foo_result = transpose_df_on_key_1(foo,'Country Code')
bar_result = transpose_df_on_key_2(bar,'Country Code')

In [49]:
foo[foo.isna()]=None
foo

,Country Code,Monetary (%),Educational attainment (%),Educational enrollment (%),Electricity (%),Sanitation (%),Drinking water (%),Multidimensional poverty headcount ratio (%)
0,AGO,31.1,29.8,27.4,52.6,53.6,32.1,47.2
1,ALB,0.0,0.2,-,0.1,6.6,9.6,0.3
2,ARG,0.9,1.1,0.7,0,0.3,0.4,0.9
3,ARM,0.5,0,1.8,0,0.4,0.7,0.5
4,AUS,0.5,1.7,-,0,0,-,2.2
...,...,...,...,...,...,...,...,...
262,WLD,NaN,None,None,None,None,None,NaN
263,WSM,NaN,None,None,None,None,None,NaN
264,XKX,NaN,None,None,None,None,None,NaN
265,YEM,NaN,None,None,None,None,None,NaN
266,ZAF,NaN,None,None,None,None,None,NaN

In [45]:
fs_years = [int(year.split('_')[1]) for year in 
    ['FS_2015', 'FS_2016','FS_2017', 'FS_2018', 'FS_2019', 'FS_2020', 'FS_2021', 'FS_2022','FS_2023']
                ]
output_data = {
    'fs_years':fs_years,
    'fs_data':bar_result
}

In [46]:
import json

In [47]:
with open('../app/public/data/mdp.json','w') as handle:
    json.dump(foo_result,handle)

with open('../app/public/data/foodsecurity.json','w') as handle:
    json.dump(output_data,handle)